.root {
   -fx-background-image: url("../resource/Screen1.jpg");
   -fx-font-family: "Palatino";
}

.label {
   -fx-font-size: 18px;
   -fx-text-alignment: center;
   -fx-font-weight: bold;
   -fx-text-fill: #f1fcfc;
   -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
   -fx-font-family: "Palatino";
}

#title {
   -fx-font-size: 30px;
}
